AIRFLOW_UID=50000
API_KEY=remplacer_par_ta_cle_tmdb
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=admin
POSTGRES_HOST=host.docker.internal
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
